.Survey-navigation {
	margin-top: var(--spacing);
}

.Survey-navigation button {
	border: 1px solid var(--borderColor);
	border-radius: 5px;
	padding: var(--spacing);
	cursor: pointer;
}

.Survey-navigation button:hover {
	background-color: #edffb6 !important;
}

.Survey-navigation button:first-child {
	float: left;
}

.Survey-navigation button:last-child {
	background-color: #d7ffd7;
	float: right;
}
