.ResultRow {
	margin: var(--spacing) 0;
	border: 1px dashed var(--borderColor);
	padding: var(--spacingDouble) var(--spacing);
	border-radius: 5px;
}

.ResultRow-goodbye {
	margin: var(--spacingDouble) 0 var(--spacing);
}
