.Answer-dropdown {
	width: 100%;
	height: 50px;
}

.Answer-textarea {
	width: 99%;
	height: 50px;
	border-radius: 5px;
	border-color: var(--borderColor);
}

.Answer-radio {
	clear: both;
	margin-bottom: var(--spacing);
}
.Answer-radio input {
	margin-right: var(--spacing);
}
